server:
  port: 8081

spring:
  application:
    name: studyapp-auth
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
      config:
        server-addr: localhost:8848
        namespace: public
        file-extension: yml
  data:
    redis:
      host: localhost
      port: 6379
      database: 0

# 微信小程序配置
wx:
  miniapp:
    app-id: your-app-id
    app-secret: your-app-secret

# Knife4j配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
knife4j:
  enable: true
  setting:
    language: zh_CN

logging:
  level:
    com.studyapp: debug
