server:
  port: 8081

spring:
  data:
    redis:
      host: localhost
      port: 6379
      database: 0

# 微信小程序配置
wx:
  miniapp:
    app-id: your-app-id
    app-secret: your-app-secret

# Swagger UI 配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    enabled: true
knife4j:
  enable: false

logging:
  level:
    com.studyapp: debug
